# binary reference
bin

# cmake build directory
build
.lintbin

# pip wheel directory
dist

nvfuser/version.py
nvfuser/include
nvfuser/lib
nvfuser/share
nvfuser/cmake

.hypothesis
*.egg-info/
**/__pycache__
*/*.so

# Editor temporaries
*.swa
*.swb
*.swc
*.swd
*.swe
*.swf
*.swg
*.swh
*.swi
*.swj
*.swk
*.swl
*.swm
*.swn
*.swo
*.swp
*~
.~lock.*
.vscode

# debugging temporaries
*.log
foo.bin

# Config for https://pre-commit.com/
.pre-commit-config.yaml
