{#-
SPDX-FileCopyrightText: Copyright (c) 2023-present NVIDIA CORPORATION & AFFILIATES.
All rights reserved.
SPDX-License-Identifier: BSD-3-Clause
-#}
{% macro gitinfo(run_num, run_name, gitinfo) -%}
    <h3>
        Git information: <i>{{ run_name|e }}</i>
    </h3>
    <span><code>{{ gitinfo.abbrev|e }}</code> {{ gitinfo.title|e }}</span>
    <br>
    <span>{{ gitinfo.author_name|e }}</span> &lt;<span>{{ gitinfo.author_email|e }}&gt;</span>
    <br>
    <span>{{ gitinfo.author_time }}</span>
    <br>
    {% if gitinfo.diffn is not none and gitinfo.diff | length > 0 %}
        Dirty working directory
        <button onclick="toggleDiv('git_diff_{{ run_num }}')">
            <i>{{ run_name }}</i> git diff
        </button>
        <br>
        {% if gitinfo.diff|length < 1000 %}
            {# show short diffs by default #}
            <div id="git_diff_{{ run_num }}">
            {% else %}
                <div id="git_diff_{{ run_num }}" style="display:none">
                {% endif %}
                <pre><code class="language-diff">{{gitinfo.diff|e}}</code></pre>
            </div>
        {% endif %}
        <a href="https://github.com/NVIDIA/Fuser/commit/{{ gitinfo.full_hash }}">View commit</a>
        <br>
        <a href="https://github.com/NVIDIA/Fuser/tree/{{ gitinfo.full_hash }}">Browse code at this commit</a>
    {%- endmacro -%}
