<html>
    <head>
        <title>{{ run1.git.abbrev }} vs {{ run2.git.abbrev }} - NVFuser codegen diff</title>
        <style>{{ pygments_style_defs }}</style>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/default.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/languages/cpp.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/languages/diff.min.js"></script>
        <script>hljs.highlightAll();</script>
        <script language="javascript">
        function toggleDiv(divId) {
            var x = document.getElementById(divId);
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
        function toggleOldPreamble() {
            var old_div = document.getElementById('old_preamble');
            var new_div = document.getElementById('new_preamble');
            var diff_div = document.getElementById('preamble_diff');
            new_div.style.display = "none";
            diff_div.style.display = "none";
            if (old_div.style.display === "none") {
                old_div.style.display = "block";
            } else {
                old_div.style.display = "none";
            }
        }
        function toggleNewPreamble() {
            var old_div = document.getElementById('old_preamble');
            var new_div = document.getElementById('new_preamble');
            var diff_div = document.getElementById('preamble_diff');
            old_div.style.display = "none";
            diff_div.style.display = "none";
            if (new_div.style.display === "none") {
                new_div.style.display = "block";
            } else {
                new_div.style.display = "none";
            }
        }
        function togglePreambleDiff() {
            var old_div = document.getElementById('old_preamble');
            var new_div = document.getElementById('new_preamble');
            var diff_div = document.getElementById('preamble_diff');
            old_div.style.display = "none";
            new_div.style.display = "none";
            if (diff_div.style.display === "none") {
                diff_div.style.display = "block";
            } else {
                diff_div.style.display = "none";
            }
        }
        function toggleOldCode(testnum, kernelnum) {
            var old_div = document.getElementById(`oldcode_${testnum}_${kernelnum}`);
            var new_div = document.getElementById(`newcode_${testnum}_${kernelnum}`);
            var diff_div = document.getElementById(`diff_${testnum}_${kernelnum}`);
            new_div.style.display = "none";
            diff_div.style.display = "none";
            if (old_div.style.display === "none") {
                old_div.style.display = "block";
            } else {
                old_div.style.display = "none";
            }
        }
        function toggleNewCode(testnum, kernelnum) {
            var old_div = document.getElementById(`oldcode_${testnum}_${kernelnum}`);
            var new_div = document.getElementById(`newcode_${testnum}_${kernelnum}`);
            var diff_div = document.getElementById(`diff_${testnum}_${kernelnum}`);
            old_div.style.display = "none";
            diff_div.style.display = "none";
            if (new_div.style.display === "none") {
                new_div.style.display = "block";
            } else {
                new_div.style.display = "none";
            }
        }
        function toggleDiff(testnum, kernelnum) {
            var old_div = document.getElementById(`oldcode_${testnum}_${kernelnum}`);
            var new_div = document.getElementById(`newcode_${testnum}_${kernelnum}`);
            var diff_div = document.getElementById(`diff_${testnum}_${kernelnum}`);
            old_div.style.display = "none";
            new_div.style.display = "none";
            if (diff_div.style.display === "none") {
                diff_div.style.display = "block";
            } else {
                diff_div.style.display = "none";
            }
        }
        function toggleAllNewTestCode() {
            <!-- Turn off all code blocks -->
            var all_divs = document.querySelectorAll('[id^="newtestcode_"]');
            if (all_divs.length == 0) {
                return;
            }
            var hidden = all_divs.item(0).style.display === "none";
            all_divs.forEach((div) => {
                div.style.display = hidden ? "block" : "none";
            });
        }
        function toggleAllRemovedTestCode() {
            <!-- Turn off all code blocks -->
            var all_divs = document.querySelectorAll('[id^="removedtestcode_"]');
            if (all_divs.length == 0) {
                return;
            }
            var hidden = all_divs.item(0).style.display === "none";
            all_divs.forEach((div) => {
                div.style.display = hidden ? "block" : "none";
            });
        }
        function toggleAllDiffs() {
            <!-- Turn off all code blocks -->
            document.querySelectorAll('[id^="oldcode_"]').forEach((div) => {
                div.style.display = "none";
            });
            document.querySelectorAll('[id^="newcode_"]').forEach((div) => {
                div.style.display = "none";
            });
            all_diff_divs = document.querySelectorAll('[id^="diff_"]');
            if (all_diff_divs.length == 0) {
                return;
            }
            var hidden = all_diff_divs.item(0).style.display === "none";
            all_diff_divs.forEach((div) => {
                div.style.display = hidden ? "block" : "none";
            });
        }
        </script>
    </head>
    <body>
        <h1>{{ run1.git.abbrev }} vs {{ run2.git.abbrev }} - NVFuser codegen diff</h1>
        <h2>Git information</h2>
        <h3>
            Old commit: <a href="https://github.com/NVIDIA/Fuser/commit/{{ run1.git.full_hash }}">{{ run1.git.abbrev }}</a>
        </h3>
        <span>{{ run1.git.title|e }}</span>
        <br>
        <span>{{ run1.git.author_name|e }}</span> &lt;<span>{{ run1.git.author_email|e }}&gt;</span>
        <br>
        <span>{{ run1.git.author_time }}</span>
        <br>
        <a href="https://github.com/NVIDIA/Fuser/commit/{{ run1.git.full_hash }}">View commit</a>
        <br>
        <a href="https://github.com/NVIDIA/Fuser/tree/{{ run1.git.full_hash }}">Browse code at this commit</a>
        <br>
        <h3>
            New commit: <a href="https://github.com/NVIDIA/Fuser/commit/{{ run2.git.full_hash }}">{{ run2.git.abbrev }}</a>
        </h3>
        <span>{{ run2.git.title|e }}</span>
        <br>
        <span>{{ run2.git.author_name|e }}</span> &lt;<span>{{ run2.git.author_email|e }}&gt;</span>
        <br>
        <span>{{ run2.git.author_time }}</span>
        <br>
        <a href="https://github.com/NVIDIA/Fuser/commit/{{ run2.git.full_hash }}">View commit</a>
        <br>
        <a href="https://github.com/NVIDIA/Fuser/tree/{{ run2.git.full_hash }}">Browse code at this commit</a>
        <br>
        <h2>Code comparison</h2>
        Command line: <code>{{ run1.command|e }}</code>
        <br>
        {% if not omit_preamble %}
            {% if run1.preamble != run2.preamble %}
                Preamble differs between runs
                <button style="box-shadow:none" onclick="toggleOldPreamble()">{{ run1.git.abbrev }}</button>
            </span>
            <button style="width: 60pt; box-shadow:none" onclick="togglePreambleDiff()">Diff</button>
        </span>
        <button style="box-shadow:none" onclick="toggleNewPreamble()">{{ run2.git.abbrev }}</button>
    </span>
    <br>
    <div id="old_preamble" style="display:none">
        <pre><code class="language-cpp">{{ run1.preamble|e }}</code></pre>
    </div>
    <div id="new_preamble" style="display:none">
        <pre><code class="language-cpp">{{ run2.preamble|e }}</code></pre>
    </div>
    <div id="preamble_diff" style="display:none">
        <pre><code class="language-diff">{{ preamble_diff|e }}</code></pre>
    </div>
{% else %}
    Preamble matches between runs
    <button style="box-shadow:none" onclick="toggleDiv('preamble')">Preamble</button>
</span>
<br>
<div id="preamble" style="display:none">
    <pre><code class="language-cpp">{{ run1.preamble|e }}</code></pre>
</div>
{% endif %}
{% endif %}
{% if new_tests|length > 0 %}
    <h3>New Tests</h3>
    <button style="box-shadow:none" onclick="toggleAllNewTestCode()">Toggle All</button>
</span>
<br>
<br>
{% for test in new_tests %}
    <span class="test_name"><b>{{ test.name }}</b>
        <br>
        {% set test_num = loop.index %}
        {% for kernel in test.kernels %}
            &nbsp;&nbsp;&nbsp;&nbsp;<span style="display: inline-block; width: 70pt">Kernel {{ loop.index }}</span>
            <button style="width: 60pt;
                           box-shadow:none"
                    onclick="toggleDiv('newtestcode_{{ test_num }}_{{ loop.index }}')">Code</button>
        </span>
        <br>
        <div id="newtestcode_{{ test_num }}_{{ loop.index }}" style="display:none">
            <pre><code class="language-cpp">{{ kernel.code|e }}</code></pre>
        </div>
    {% endfor %}
    <br>
{% endfor %}
{% endif %}
{% if removed_tests|length > 0 %}
    <h3>Removed Tests</h3>
    <button style="box-shadow:none" onclick="toggleAllRemovedTestCode()">Toggle All</button>
</span>
<br>
<br>
{% for test in removed_tests %}
    <span class="test_name"><b>{{ test.name }}</b>
        <br>
        {% set test_num = loop.index %}
        {% for kernel in test.kernels %}
            &nbsp;&nbsp;&nbsp;&nbsp;<span style="display: inline-block; width: 70pt">Kernel {{ loop.index }}</span>
            <button style="box-shadow:none"
                    onclick="toggleDiv('removedtestcode_{{ test_num }}_{{ loop.index }}')">Code</button>
        </span>
        <br>
        <div id="removedtestcode_{{ test_num }}_{{ loop.index }}"
             style="display:none">
            <pre><code class="language-cpp">{{ kernel.code|e }}</code></pre>
        </div>
    {% endfor %}
{% endfor %}
{% endif %}
<h3>Test Diffs</h3>
<button style="box-shadow:none" onclick="toggleAllDiffs()">Toggle All Diffs</button>
</span>
<br>
<br>
{% set loop_vars = namespace(total_diffs=0) %}
{% for test_diff in test_diffs %}
    {% if loop_vars.total_diffs < max_diffs %}
        <span class="test_name">{{ loop.index }}: <b>{{ test_diff.testname }}</b></span>
        <br>
        {% set outer_index = loop.index %}
        {% for kernel_diff in test_diff.kernel_diffs %}
            {% if loop_vars.total_diffs == max_diffs + 1 %}
                <br>
                <b>WARNING: Only showing {{ max_diffs }} out of {{ total_num_diffs }}
                    total modified kernels. To show more kernels pass a higher value in
                    the <code>--html-max-diffs</code> argument to
                    <code>tools/diff_codegen_nvfuser_tests.py</code>.</b>
                <br>
            {% elif loop_vars.total_diffs < max_diffs %}
                &nbsp;&nbsp;&nbsp;&nbsp;<span style="display: inline-block; width: 70pt">Kernel {{ kernel_diff.kernel_num }}</span>
                <button style="box-shadow:none"
                        onclick="toggleOldCode({{ outer_index }}, {{ loop.index }})">{{ run1.git.abbrev }}</button>
            </span>
            <button style="width: 60pt;
                           box-shadow:none"
                    onclick="toggleDiff({{ outer_index }}, {{ loop.index }})">Diff</button>
        </span>
        <button style="box-shadow:none"
                onclick="toggleNewCode({{ outer_index }}, {{ loop.index }})">{{ run2.git.abbrev }}</button>
    </span>
    LOC: <span style="color: green;
              width: 30pt;
              text-align: right;
              display: inline-block">+{{ kernel_diff.new_lines }}</span>
    <span style="color: red;
                 width: 30pt;
                 text-align: left;
                 display: inline-block">-{{ kernel_diff.removed_lines }}</span>
    index type:
    {%- if kernel_diff.kernel1.index_type == kernel_diff.kernel2.index_type %}
        {# always show index type, even if unchanged #}
        {{ kernel_diff.kernel1.index_type }}
    {% else -%}
        <span style="color: red">{{ kernel_diff.kernel1.index_type }}</span> &#8594; <span style="color: green">{{ kernel_diff.kernel2.index_type }}</span>
    {%- endif %}
    {%- if kernel_diff.kernel1.registers != kernel_diff.kernel2.registers -%}
        registers: <span style="color: red">{{ kernel_diff.kernel1.registers }}</span> &#8594; <span style="color: green">{{ kernel_diff.kernel2.registers }}</span>
    {%- endif -%}
    {%- if kernel_diff.kernel1.gmem != kernel_diff.kernel2.gmem -%}
        gmem: <span style="color: red">{{ kernel_diff.kernel1.gmem }}</span> &#8594; <span style="color: green">{{ kernel_diff.kernel2.gmem }}</span>
    {%- endif -%}
    {%- if kernel_diff.kernel1.smem != kernel_diff.kernel2.smem -%}
        smem: <span style="color: red">{{ kernel_diff.kernel1.smem }}</span> &#8594; <span style="color: green">{{ kernel_diff.kernel2.smem }}</span>
    {%- endif -%}
    {%- if kernel_diff.kernel1.stack_frame_bytes != kernel_diff.kernel2.stack_frame_bytes -%}
        stack frame: <span style="color: red">{{ kernel_diff.kernel1.stack_frame_bytes }}</span> &#8594; <span style="color: green">{{ kernel_diff.kernel2.stack_frame_bytes }}</span>
    {%- endif -%}
    {%- if kernel_diff.kernel1.spill_store_bytes != kernel_diff.kernel2.spill_store_bytes -%}
        spill stores: <span style="color: red">{{ kernel_diff.kernel1.spill_store_bytes }}</span> &#8594; <span style="color: green">{{ kernel_diff.kernel2.spill_store_bytes }}</span>
    {%- endif -%}
    {%- if kernel_diff.kernel1.spill_load_bytes != kernel_diff.kernel2.spill_load_bytes -%}
        spill loads: <span style="color: red">{{ kernel_diff.kernel1.spill_load_bytes }}</span> &#8594; <span style="color: green">{{ kernel_diff.kernel2.spill_load_bytes }}</span>
    {%- endif -%}
    {% if kernel_diff.kernel1.cmem_bank_bytes is not none and kernel_diff.kernel2.cmem_bank_bytes is not none %}
        {% for cmem_bank in range(kernel_diff.kernel1.cmem_bank_bytes|length) %}
            {% set cmem1 = kernel_diff.kernel1.cmem_bank_bytes[cmem_bank] %}
            {% set cmem2 = kernel_diff.kernel2.cmem_bank_bytes[cmem_bank] %}
            {% if cmem1 != cmem2 %}
                cmem[{{ cmem_bank }}]: <span style="color: red">{{ cmem1 }}</span> &#8594; <span style="color: green">{{ cmem2 }}</span>
            {% endif %}
        {% endfor %}
    {% endif %}
    <br>
    <div id="oldcode_{{ outer_index }}_{{ loop.index }}" style="display:none">
        <pre><code class="language-cpp">{{ kernel_diff.kernel1.code|e }}</code></pre>
    </div>
    <div id="newcode_{{ outer_index }}_{{ loop.index }}" style="display:none">
        <pre><code class="language-cpp">{{ kernel_diff.kernel2.code|e }}</code></pre>
    </div>
    <div id="diff_{{ outer_index }}_{{ loop.index }}" style="display:none">
        <pre><code class="language-diff">{{ kernel_diff.diff|e }}</code></pre>
    </div>
{% endif %}
{% set loop_vars.total_diffs = loop_vars.total_diffs + 1 %}
{% endfor %}
<br>
{% endif %}
{% endfor %}
</body>
</html>
