name: Lint

on:
  pull_request:
  push:
    branches:
      - main

env:
  working_directory: .

jobs:
  clang-tidy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Run lintrunner
        working-directory: ${{ env.working_directory }}
        run: |
          tools/apt-install-things.sh &
          tools/pip-install-things.sh &
          source tools/setup-env.sh

          # Install lintrunner
          pip install lintrunner

          # Initialize lintrunner
          lintrunner --config .lintrunner.toml init 2> /dev/null

          wait

          # Run cmake build
          python setup.py --cmake-only

          # Generate csrc/serde/fusion_cache_generated.h
          # NOTE: this might cause a compile of flatbuffers if it is missing
          ninja -C build build_flatbuffer_config

          # Run lintrunner on all csrc files exclude benchmark and test folders
          this_commit=$(git rev-parse HEAD)
          git fetch origin main
          git checkout origin/main
          head_commit=$(git rev-parse HEAD)
          git checkout $this_commit
          # diff-filter for lower case letter:
          # https://github.com/git/git/commit/7f2ea5f0f2fb056314092cce23202096ca70f076
          git --no-pager diff --diff-filter=d --name-only $head_commit | grep -e "csrc/.*\.cpp" -e "csrc/.*\.h" | xargs lintrunner --config .lintrunner.toml --take CLANGTIDY --force-color

  lintrunner:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Run lintrunner
        working-directory: ${{ env.working_directory }}
        run: |
          tools/apt-install-things.sh &
          tools/pip-install-things.sh &
          source tools/setup-env.sh

          # Install lintrunner
          pip install lintrunner

          # Initialize lintrunner
          lintrunner --config .lintrunner.toml init

          # Run lintrunner except clang-tidy
          lintrunner --config .lintrunner.toml --skip CLANGTIDY --all-files --verbose
