# SPDX-FileCopyrightText: Copyright (c) 2023-present NVIDIA CORPORATION & AFFILIATES.
# All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause

# A workflow to trigger ci on hybrid infra (github + self hosted runner)
name: Nvfuser-CI Trigger
on:
  issue_comment:
    types: [created]
jobs:
  Authorization:
    name: Authorization
    runs-on: blossom
    outputs:
      args: ${{ env.args }}

    # This job only runs for pull request comments
    if: >-
          ( startsWith(github.event.comment.body, '!build') ||
            startsWith(github.event.comment.body, '!test')
          ) &&
          (
            github.actor == 'IvanYashchuk' ||
            github.actor == 'Priya2698' ||
            github.actor == 'Steboss' ||
            github.actor == 'chang-l' ||
            github.actor == 'chaserileyroberts' ||
            github.actor == 'cowanmeg' ||
            github.actor == 'crcrpar' ||
            github.actor == 'csarofeen' ||
            github.actor == 'drzejan2' ||
            github.actor == 'jacobhinkle' ||
            github.actor == 'jjsjann123' ||
            github.actor == 'kevinstephano' ||
            github.actor == 'liqiangxl' ||
            github.actor == 'mattwalsh' ||
            github.actor == 'mdavis36' ||
            github.actor == 'mmigdal-nv' ||
            github.actor == 'nWEIdia' ||
            github.actor == 'naoyam' ||
            github.actor == 'nsarka' ||
            github.actor == 'protonu' ||
            github.actor == 'ptrblck' ||
            github.actor == 'rdspring1' ||
            github.actor == 'samnordmann' ||
            github.actor == 'syed-ahmed' ||
            github.actor == 'tbqh' ||
            github.actor == 'tfogal' ||
            github.actor == 'wolfcomos' ||
            github.actor == 'wujingyue' ||
            github.actor == 'xwang233' ||
            github.actor == 'zasdfgbnm'
          )
    steps:
      - name: Check if comment is issued by authorized person
        run: blossom-ci
        env:
          OPERATION: 'AUTH'
          REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REPO_KEY_DATA: ${{ secrets.BLOSSOM_KEY }}

  Vulnerability-scan:
    name: Vulnerability scan
    needs: [Authorization]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          repository: ${{ fromJson(needs.Authorization.outputs.args).repo }}
          ref: ${{ fromJson(needs.Authorization.outputs.args).ref }}
          lfs: 'true'

      - name: Run blossom action
        uses: NVIDIA/blossom-action@main
        env:
          REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REPO_KEY_DATA: ${{ secrets.BLOSSOM_KEY }}
        with:
          args1: ${{ fromJson(needs.Authorization.outputs.args).args1 }}
          args2: ${{ fromJson(needs.Authorization.outputs.args).args2 }}
          args3: ${{ fromJson(needs.Authorization.outputs.args).args3 }}

  Job-trigger:
    name: Start ci job
    needs: [Vulnerability-scan]
    runs-on: blossom
    steps:
      - name: Start ci job
        run: blossom-ci
        env:
          OPERATION: 'START-CI-JOB'
          CI_SERVER: ${{ secrets.CI_SERVER }}
          REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
